/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 sept 2025, 10:25:13
    Author     : 2AM3-3
*/

.bg{
    -fx-background-color: darkorange;
}

.title{
    -fx-font-size: 30px;
    -fx-font-family: cursive;
    -fx-font-weight: bold;
    -fx-text-fill: cadetblue;
    -fx-alignment: CENTER;
}

.btn {
    -fx-background-color: aquamarine;
    -fx-border-style: inherit;
    -fx-border-color: blue;
    -fx-border-radius:4px ;
    -fx-border-width: 1.5px;
    -fx-padding: 10px;
    -fx-font-size: 12px ;
    -fx-font-family: monospace;
    -fx-font-weight: bold;
    -fx-text-fill: brown;
}
.btn:hover {
        -fx-font-size: 15px ;
        -fx-text-fill: purple;
        -fx-background-color: yellow;
    }